.flecha{
background-color: hsl(259, 100%, 65%);
border-radius: 50px;
height: 30px;
padding: 20px;
float: inline-end;

}
body{
    max-width:1440px;
    min-width:375px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 94%);
    margin-left: 130px;
}

.flecha:hover{
    background-color: black;
    
}
.edit:hover{
    border-block-color: hsl(259, 100%, 65%);
    border-inline-color: hsl(259, 100%, 65%);
    cursor: pointer;
}


p{
    color: hsl(259, 100%, 65%);
    letter-spacing: 5px;
    font-size: 80px;
    margin: 0px;
    font-family: poppins ExtraBold;
    font-style: italic;


}
h1{
    font-family: poppins ExtraBold;
    font-size: 75px;
    margin: 0px;
    font-style: italic;
    font-weight: 800i;

}
.container{
    background-color:hsl(0, 0%, 100%);
    height: 100%;
    width: 550px;
    border-radius: 15px;
    border-bottom-right-radius: 150px;
    padding: 40px;
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.edit{
    width: 100px;
    height: 48px;
    border-radius: 5px;
    border: solid;
    border-width: thin;
    border-block-color: hsl(0, 0%, 86%);
    border-inline-color: hsl(0, 0%, 86%);
    padding-left: 15px;
    font-family: poppins;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;

}

td,th{
    text-align: left;
}
th{
    color:hsl(0, 1%, 44%);
    font-family: poppins ExtraBold;
    letter-spacing: 2px;
    font-size: 10px;
}
td{
    -webkit-text-stroke: medium;
    font-size: 12px;
    font-family: poppins ExtraBold;

}

.abajo{
    display: flex;
    flex-direction: column;
}
.ab{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 85px;

}
.linea{
    border-top: 1px solid hsl(0, 0%, 86%);
    width: 470px;
}
.linea2{

}

  .imagensection{
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  table{
    width: 430px;
  }
  @media only screen and (max-width: 845px){
   
    .linea{
        border-top: 1px solid hsl(0, 0%, 86%);
        width: 115px;
    }
    .linea2{
        border-top: 1px solid hsl(0, 0%, 86%);
        width: 115px;
    }
    .imagensection{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 40px;
    
      }
      p{
        letter-spacing: 5px;
        font-size: 60px;

    }
    h1{
        font-family: poppins ExtraBold;
        font-size: 55px;
        margin: 0px;
        font-style: italic;
        font-weight: 800i;
    
    }
    .container{
        height: 100%;
        width: auto;
        padding: 25px;
        padding-top: 55px;
        padding-right: 10px;
        margin: 100px;
        margin-left: 200px;
        margin-right: 200px;
        border-bottom-right-radius: 100px;

    }
    .edit{
        width: 70px;
        border-radius: 5px;
        border: solid;
        border-width: thin;
        border-block-color: hsl(0, 0%, 86%);
        border-inline-color: hsl(0, 0%, 86%);
        padding-left: 15px;
    }
    table{
        width: 320px;
      }
      th{
        color:hsl(0, 1%, 44%);
        font-family: poppins ExtraBold;
        letter-spacing: 2px;
        font-size: 12px;
    }
    .ab{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 58px;
    
    }
    .abajo{
        margin-bottom: 30px;
    }
  }